* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: "Varela Round", sans-serif;
}

body {
  background: #291c3a;
  color: #dedbe1;
  overflow: hidden;
  overflow-y: scroll;
}
