* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: "Oswald", sans-serif;
}

body {
  background: #363636;
  color: #f9f9f9;
  overflow: hidden;
  overflow-y: scroll;
}
