.skillTitle {
  margin: 2rem 0;
  padding: 1rem;
  font-size: 3rem;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
}

.skillDesc {
  font-weight: 400;
  font-size: 1.2rem;
  max-width: 51rem;
  padding: 0 2rem;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  margin: 1.5rem;
}

.skillBars {
  margin: 1.5rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
}

.skillBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(50, 50, 50);
}

#skills {
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.skillBarImg {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin-right: 2rem;
  color: rgb(194, 97, 232);
}

.skillBarText > p {
  font-size: 0.9rem;
  font-weight: 200;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: weight;
}

@media screen and (max-width: 720px) {
  .skillBarText > p {
    font-size: 2vw;
  }
}

@media screen and (max-width: 480px) {
  .skillBarText > p {
    font-size: 18px;
  }
  .skillBarImg {
    height: 3.5rem;
    width: 3.5rem;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
  .skillBarText > h2 {
    font-size: 18px;
  }
  .skillBars {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    display: flex;
  }
  .skillBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
  }
}
