.navbar {
  height: 5rem;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem, 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}

.logo {
  object-fit: cover;
  width: 15%;
  max-width: 4rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

.desktopMenu {
  display: flex;
  justify-content: center;
  margin-right: -6rem;
}

.desktopMenuListItem {
  margin: 2rem;
  cursor: pointer;
  font-family: "Ubuntu Condensed", sans-serif;
  position: relative;
}

.desktopMenuListItem span {
  position: relative;
  font-family: "Ubuntu Condensed", sans-serif;
}

.desktopMenuListItem span:hover {
  color: rgb(194, 97, 232);
}

.desktopMenuListItem span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: transparent;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out, background-color 0.25s ease-out;
  transform: scaleX(0);
}

.desktopMenuListItem span:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  background-color: rgb(194, 97, 232);
}

.active {
  color: rgb(194, 97, 232);
  border-bottom: 3px solid rgb(194, 97, 232);
}

/* .desktopMenu {
  justify-content: center;
  display: flex;
  margin-right: -6rem;
}

.desktopMenuListItem {
  margin: 1rem;
  cursor: pointer;
  font-family: "Ubuntu Condensed", sans-serif;
}

.desktopMenuListItem:hover {
  color: rgb(194, 97, 232);
  padding-bottom: 0.5rem;
  border-bottom: 3px solid rgb(194, 97, 232);
} */

.desktopMenuBtn {
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-family: "Ubuntu Condensed", sans-serif;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1em;
  cursor: pointer;
  font-size: 16px;
  border-radius: 0.5em;
  background: #dedbe1;
  border: 1px solid #dedbe1;
}

.desktopMenuBtn:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #dedbe1, inset -4px -4px 12px #ffffff;
}

.desktopMenuBtn:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.desktopMenuBtn:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: rgb(194, 97, 232);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.desktopMenuBtn:hover {
  color: #dedbe1;
  border: 1px solid rgb(194, 97, 232);
}

.desktopMenuBtn:hover:before {
  top: -35%;
  background-color: rgb(194, 97, 232);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.desktopMenuBtn:hover:after {
  top: -45%;
  background-color: rgb(194, 97, 232);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.desktopMenuImg {
  object-fit: cover;
  height: 1rem;
  width: 1rem;
  margin: 1rem;
  justify-content: space-around;
}

.active {
  color: rgb(194, 97, 232);
  border-bottom: 3px solid rgb(194, 97, 232);
}

.langBtn {
  position: relative;
  width: 31px; /* Adjust the width and height to make the button circular */
  height: 31px;
  border-radius: 50%; /* Make the button circular */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px; /* Adjust the margin as needed */
  cursor: pointer;
  font-size: 14px; /* Adjust font size as needed */
  color: #ffffff; /* Initial text color */
  background: #dedbe1;
  border: 1px solid #dedbe1;
  overflow: hidden; /* Ensure the overflow is hidden for animation */
  transition: all 0.2s ease-in;
}

.langBtn:hover {
  color: #000000; /* Change text color on hover */
}

.langBtn:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scaleY(0) scaleX(1.25); /* Initial scale is 0 to hide */
  width: 140%;
  height: 140%;
  background-color: rgb(194, 97, 232); /* Fill color */
  border-radius: 50%;
  display: block;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1); /* Transition for filling effect */
  z-index: -1;
}

.langBtn:hover:before {
  transform: translate(-50%, -50%) scaleY(1) scaleX(1.25); /* Scale up to fill the button */
}

.mobMenu {
  display: none;
  object-fit: cover;
  height: 1.8rem;
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: weight;
}
.navMenu {
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
  min-width: 15rem;
  background: rgb(40, 40, 40);
  border-radius: 1rem;
}

.listItem {
  color: #dedbe1;
  padding: 0.5rem 3rem;
  margin: 0.25rem;
  background: rgb(30, 30, 30);
}

.buttonGroup {
  display: flex;
  align-items: center;
}

.buttonGroup button {
  margin-left: 10px;
}

@media screen and (max-width: 720px) {
  .mobMenu {
    display: flex;
    margin-right: 1.5rem;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
  }
  .desktopMenu, .langBtn {
    display: none;
  }
  .desktopMenuBtn {
    display: none;
  }
  .mobBtn {
    color: white;
    border-radius: 50%;
    font-family: 'Varela Round';
    font-size: medium;
  }
}
