.navbar {
  background: #363636;
  height: 5rem;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem, 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}

.logo {
  object-fit: cover;
  height: 3rem;
  width: 15%;
  max-width: 4rem;
  margin-right: 1.5rem;
}

.desktopMenuListItem {
  margin: 1rem;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
}

.desktopMenuListItem:hover {
  color: rgb(194, 97, 232);
  padding-bottom: 0.5rem;
  border-bottom: 3px solid rgb(194, 97, 232);
}

.desktopMenuBtn {
  background: white;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-radius: 2rem;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  cursor: pointer;
}

.desktopMenuImg {
  object-fit: cover;
  height: 1rem;
  width: 1rem;
  margin: 1rem;
}

.active {
  color: rgb(194, 97, 232);
  padding-bottom: 0.5rem;
  border-bottom: 3px solid rgb(194, 97, 232);
}

.mobMenu {
  display: none;
  object-fit: cover;
  height: 1.8rem;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
}
.navMenu {
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
  min-width: 15rem;
  background: rgb(40, 40, 40);
  border-radius: 1rem;
}

.listItem {
  color: white;
  padding: 0.5rem 3rem;
  margin: 0.25rem;
  background: rgb(30, 30, 30);
}

@media screen and (max-width: 720px) {
  .mobMenu {
    display: flex;
    margin-right: 1.5rem;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
  }
  .desktopMenu {
    display: none;
  }
  .desktopMenuBtn {
    display: none;
  }
}
