#contactPage {
  min-height: calc(100vh - 4rem);
  padding: 0 1rem;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactPageTitle {
  padding: 1rem;
  margin: 2rem 0;
  font-size: 3rem;
  font-weight: 400;
  font-family: "Varela Round", sans-serif;
}

.contactForm {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 60rem;
}

.name,
.email,
.msg {
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: #DEDBE1;
  border: none;
  border-radius: 0.5rem;
  background: #dccfed;
  font-family: "Ubuntu Condensed", sans-serif;
  font-optical-sizing: auto;
}

.submitBtn {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  width: 10rem;
  cursor: pointer;
  margin-top: 2rem;
  overflow: hidden;
  font-family: "Ubuntu Condensed", serif;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background: #DEDBE1;
  border: 1px solid #DEDBE1;
}

.submitBtn:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #DEDBE1, inset -4px -4px 12px #ffffff;
}

.submitBtn:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgb(194, 97, 232);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.submitBtn:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: rgb(194, 97, 232);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.submitBtn:hover {
  color: #DEDBE1;
  border: 1px solid rgb(194, 97, 232);
}

.submitBtn:hover:before {
  top: -35%;
  background-color: rgb(194, 97, 232);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.submitBtn:hover:after {
  top: -45%;
  background-color: rgb(194, 97, 232);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.links {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: fit-content;
  height: fit-content;
  background-color: #291c3a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  cursor: pointer;
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: #291c3a;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}

/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #86128c;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: #DEDBE1;
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


