#works {
  min-height: calc(100vh - 4rem);
  max-width: 60rem;
  margin: 7rem auto;
  padding: 0 1rem;
  text-align: center;
}

.workstitle {
  margin: 2rem 0;
  font-size: 3rem;
}

.worksDesc {
  font-weight: 300;
  font-size: 1rem;
  max-width: 45rem;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  color: white; 
  margin: 2rem auto; 
}

.worksImgs {
  max-width: 65rem;
  margin: 2rem auto; 
}

.worksImgContainer {
  margin: 0.5rem;
}

.worksImg {
  object-fit: cover;
  max-height: 30rem;
  max-width: 30rem;
  margin: 0.5rem auto; 
  border: 2px solid rgb(194, 97, 232);
  box-sizing: border-box;
}

.worksbtn {
  margin-top: 5rem; 
  color: white;
  padding: 0.5rem 2.5rem;
  border: none;
  border-radius: 2rem;
  background: rgb(194, 97, 232);
  font-size: 1rem;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
}

@media screen and (max-width: 768px) {
  .worksImg {
    width: calc(50% - 1rem);
  }
}
