#intro {
  height: auto;
  max-width: 75rem;
  margin: 5rem auto;
  overflow: hidden;
  position: relative;
  padding: 2rem;
}

.bg {
  position: absolute;
  z-index: -1;
  top: -4rem;
  object-fit: cover;
  height: 100vh;
  right: 0;
}

.introContent {
  padding: 0;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello {
  font-size: 1.75rem;
  font-weight: 200;
}

.introName {
  color: rgb(194, 97, 232);
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.introPara {
  font-size: 1rem;
  font-weight: 100;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  letter-spacing: 1px;
}

.btn {
  background: rgb(194, 97, 232);
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2rem;
  display: inline-flex;
  align-items: center;
  color: white;
  font-size: medium;
  font-style: oblique;
  cursor: pointer;
}

/* .btnIcon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  display: inline-flex;
} */

.btnIcon {
  object-fit: cover;
  margin: 0 0.25rem;
  height: 1rem;
}

.btnText {
  margin-right: 0.5rem;
}

@media screen and (max-width: 720px) {
  .introContent {
    font-size: 2rem;
  }
  .introPara {
    word-wrap: break-word;
    font-size: 0.75rem;
  }
  .bg {
    right: -10vw;
  }
  .hello {
    font-size: 4.5vw;
  }
}
