.footer {
  height: 4rem;
  background: linear-gradient(#291c3a, #2e184b); /* Gradient with the same color for both ends */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: small;
  font-family: "Ubuntu Condensed", sans-serif;
  font-optical-sizing: auto;
}
